body{
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
  background-color: rgb(10 10 10);

  display: grid;
  place-items: center;
}
#wrapper{
  aspect-ratio: 1.618;
  width: 90vmin;
  position: relative;
}
#wrapper>.shape{
  height:30%;
  width:  30%;
  background-color: rgba( 255 255 255/5%);
  position: absolute;
  transition: left,top,height,width,border-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
}
#wrapper>.shape:nth-child(1){
  background-color: rgb(249, 65, 68);
}
#wrapper>.shape:nth-child(2){
  background-color: rgb(243, 114, 44);
}
#wrapper>.shape:nth-child(3){
  background-color: rgb(248, 150, 30);
}
#wrapper>.shape:nth-child(4){
  background-color: rgb(249, 199, 79);
}
#wrapper>.shape:nth-child(5){
  background-color: rgb(144, 190, 109);
}
#wrapper>.shape:nth-child(6){
  background-color: rgb(67, 170, 139);
}
#wrapper>.shape:nth-child(7){
  background-color: rgb(87, 117, 144);
}
#wrapper